/* CSS VARIABLES */

:root {
  --header-color-bg: #5cb5fd;
  --footer-color-bg: #263238;
  --headline-font: Arial, Helvetica, sans-serif;
  --paragraph-font: Georgia, 'Times New Roman', Times, serif;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --danger: #ff4444;
  --danger-dark: #CC0000;
  --warning: #ffbb33;
  --warning-dark: #FF8800;
  --success: #00C851;
  --success-dark: #007E33;
  --info: #33b5e5;
  --info-dark: #0099CC;
}

/* MAIN CONTENT */

/* Hero box at top of page */

.homepage-hero {
  background-color: #3b465e;
  height: 500px;
  position: relative;
  z-index: -3;
}

.hero-image-one-container {
  position: absolute;
  bottom: 20%;
  left: 100%;
  z-index: -1;
  animation-name: astronautFloat;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes astronautFloat {
  0% {
    transform: translateX(0) rotate(0deg) scale(1)
  }
  50% {
    transform: translateX(-400px) rotate(-250deg) scale(1.3)
  }
  100% {
    transform: translateX(-700px) rotate(-500deg) scale(1.5)
  }
}

.hero-image-two-container {
  position: absolute;
  bottom: 0;
  right: 15%;
  z-index: -2;
}

.hero-image-three-container {
  position: absolute;
  bottom: 45%;
  right: 15%;
  z-index: -2;
  animation-name: earthRotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes earthRotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.hero-image-one {
  width: 125px;
}

.hero-image-two {
  width: 250px;
  display: block;
}

.hero-image-three {
  width: 35px;
}

.hero-headline {
  font-family: var(--headline-font);
  font-weight: bold;
  color: white;
  font-size: 2.2rem;
  padding: 55px 0 0 30px;
  line-height: 1;
}

.hero-text-center {
  padding-top: 5px;
}

.strike {
  text-decoration: line-through red solid;
}

.job-title {
  font-family: cursive;
  transform: rotate(-2deg);
  display: inline-block;
  font-weight: 100;
  font-size: 2.5rem;
  padding-left: 15px;
}

/*Homepage About Me Section */

.about-me-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1.25rem 0;
}

.about-me-text-container {
  width: 90%;
  font-family: var(--paragraph-font);
  font-size: 1rem;
  line-height: 1.3;
}

.about-me-title,
.skills-title,
.experience-title {
  font-family: var(--headline-font);
  font-weight: bold;
  color: var(--header-color-bg);
  font-size: 2rem;
}

.about-me-image {
  width: 175px;
  height: auto;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/* .skills-container,
.experience-container {
  display: flex;
  justify-content: center;
} */

.experience-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.experience-img-container {
  width: 250px;
  height: auto;
  margin-bottom: 1rem;
}

.experience-img {
  width: 50%;
  height: auto;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.experience-text-container {
  width: 90%;
  /* margin-left: 2rem; */
  font-size: 1rem;
  font-family: var(--paragraph-font);
  line-height: 1.3;
  align-self: center;
}

.experience-title {
  width: 90%;
  height: auto;
  margin-top: 3rem;
  font-size: 2.2rem;
}

.work-title {
  font-family: var(--headline-font);
  color: var(--header-color-bg);
  font-weight: bold;
}

.job-details {
  font-family: var(--paragraph-font);
  font-weight: 600;
  color: var(--footer-color-bg);
}

/* Hire me links */

.hire-me-container {
  width: 90%;
  margin: 35px auto 25px auto;
}

.hire-me-text {
  font-family: var(--headline-font);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--footer-color-bg);
  text-align: center;
  line-height: 1.5;
}

.button {
  background-color: var(--danger);
  padding: 0 5px 0 5px;
  box-shadow: var(--shadow);
  font-size: 1.1rem;
  font-weight: 100;
  color: white;
  display: inline-block;
  transform: rotate(-2deg);
  border-radius: 2px;
}

.button:hover {
  font-weight: bold;
  transform: rotate(-5deg);
}

/* Social Media Links */

.social-media-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}

.social-media-line {
  width: 25%;
  background-color: var(--header-color-bg);
  height: 2px;
  margin: 10px;
  box-shadow: var(--shadow-lg);
}

.center-line {
  width: 10%;
}

.social-media-icon {
  width: 40px;
  height: auto;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, 376px and up) */

@media (min-width: 400px) {
  .hero-image-one {
    width: 150px;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .homepage-hero {
    height: 550px;
  }
  /* .hero-image-one-container {
    left: 10%;
  } */
  .hero-image-two-container {
    right: 25%;
  }
  .hero-image-three-container {
    bottom: 50%;
  }
  .hero-image-one {
    width: 175px;
  }
  .hero-image-two {
    width: 275px;
  }
  .hero-headline {
    font-size: 2.25rem;
  }
  .about-me-text-container {
    width: 80%;
  }
  .experience-text-container {
    width: 80%;
  }
  .experience-title {
    width: 80%;
  }
  @keyframes astronautFloat {
    0% {
      transform: translateX(0) rotate(0deg) scale(1)
    }
    50% {
      transform: translateX(-900px) rotate(-180deg) scale(1.3)
    }
    100% {
      transform: translateX(-1800px) rotate(-360deg) scale(1.8)
    }
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .navigation-item {
    display: inline-flex;
  }
  #nav-hamburger {
    display: none;
  }
  .navigation-item:hover {
    font-weight: bold;
    box-shadow: var(--shadow);
    padding-top: 5px;
    padding-bottom: 5px;
    transform: rotate(-3deg);
    display: inline-block;
  }
  .hero-image-one {
    width: 200px;
  }
  .hero-image-two {
    width: 325px;
  }
  .hero-image-three {
    width: 55px;
  }
  .hero-headline {
    font-size: 2.5rem;
  }
  .job-title {
    font-size: 2.75rem;
  }
  .about-me-text-container {
    width: 50%;
    margin-left: 2rem;
  }
  .experience-text-container {
    width: 50%;
  }
  .experience-title {
    width: 50%;
    text-align: center;
  }
  #skills-section-one {
    order: 2;
  }
  @keyframes astronautFloat {
    0% {
      transform: translateX(0) rotate(0deg) scale(1)
    }
    50% {
      transform: translateX(-1000px) rotate(-180deg) scale(1.3)
    }
    100% {
      transform: translateX(-2000px) rotate(-360deg) scale(1.9)
    }
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .homepage-hero {
    height: 600px;
  }
  /* .hero-image-one-container {
    left: 15%;
  } */
  .hero-image-two-container {
    right: 20%;
  }
  .hero-image-three-container {
    bottom: 70%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .hero-headline {
    font-size: 3.5rem;
  }
  .job-title {
    font-size: 3.75rem;
  }
}

/* Extra large desktops (large desktops, 1500px and up) */

@media (min-width: 1500px) {
  .hero-image-two {
    width: 425px;
  }
}