:root {
  --header-color-bg: #42a5f5;
  --footer-color-bg: #263238;
  --headline-font: Arial, Helvetica, sans-serif;
  --paragraph-font: Georgia, 'Times New Roman', Times, serif;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --danger: #ff4444;
  --danger-dark: #CC0000;
  --warning: #ffbb33;
  --warning-dark: #FF8800;
  --success: #00C851;
  --success-dark: #007E33;
  --info: #33b5e5;
  --info-dark: #0099CC;
}

.contact-header-container {
  width: 100%;
  position: relative;
  z-index: 5;
}

.contact-image-bg {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
}

.contact-image-balloon {
  width: 100%;
  height: auto;
  top: 0;
  left: 40%;
  z-index: 2;
  position: absolute;
  animation-name: balloonFloat;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes balloonFloat {
  0% {
    transform: translateX(0px)
  }
  100% {
    transform: translateX(-120%)
  }
}

.contact-title-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: appear;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-title {
  color: white;
  font-size: 3em;
  text-shadow: 5px 5px 10px black;
  animation-name: titleFloat;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  font-family: var(--paragraph-font);
}

@keyframes titleFloat {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

/* CONTACT FORM */

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

#form-title-container {
  width: 90%;
  margin-bottom: 35px;
  font-family: var(--paragraph-font);
  color: var(--footer-color-bg);
}

#form-title {
  font-size: 5rem;
  color: var(--header-color-bg);
}

#form-text {
  font-size: 1.5rem;
}

#form-phone-number {
  font-size: 1rem;
  font-family: var(--headline-font);
  color: rgb(71, 71, 71);
  margin-top: 5px;
  font-weight: bold;
}

form {
  width: 90%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

#email,
#name,
#subject,
#message {
  border-bottom: 2px solid var(--header-color-bg);
  padding: 0 5px 5px 5px;
  font-family: var(--headline-font);
  width: 100%;
  margin-bottom: 30px;
  height: 1rem;
}

#email:focus,
#name:focus,
#subject:focus,
#message:focus {
  transition: 1s ease-in-out;
  background-color: var(--header-color-bg);
  color: white;
  box-shadow: var(--shadow);
  height: 2rem;
  border-radius: 1px;
  padding: 0 0 10px 10px;
}

#message:focus {
  padding: 10px 0 10px 10px;
  height: 3.25rem;
  transition: 1s ease-in-out;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: white;
  font-weight: bold;
  vertical-align: baseline;
}

#contact-submit {
  border: none;
  padding: 10px;
  background: var(--danger);
  box-shadow: var(--shadow);
  color: white;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

#contact-submit:hover {
  background: var(--danger-dark);
}

/* MEDIA QUERIES */

/* Extra small */

@media (min-width: 400px) {}

/* Small devices */

@media (min-width: 576px) {
  .contact-title {
    font-size: 3em;
  }
  #form-title-container,
  form {
    width: 80%;
  }
}

/* Medium devices */

@media (min-width: 768px) {
  .contact-title {
    font-size: 4em;
  }
  #form-title-container,
  form {
    width: 70%;
  }
}

/* Large devices */

@media (min-width: 992px) {
  #form-title-container,
  form {
    width: 60%;
  }
}

/* Extra large */

@media (min-width: 1200px) {
  #form-title-container,
  form {
    width: 50%;
  }
}

/* Super large */

@media (min-width: 1500px) {}