/* CSS VARIABLES */

:root {
  --header-color-bg: #42a5f5;
  --footer-color-bg: #263238;
  --headline-font: Arial, Helvetica, sans-serif;
  --paragraph-font: Georgia, 'Times New Roman', Times, serif;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --danger: #ff4444;
  --danger-dark: #CC0000;
  --warning: #ffbb33;
  --warning-dark: #FF8800;
  --success: #00C851;
  --success-dark: #007E33;
  --info: #33b5e5;
  --info-dark: #0099CC;
}

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* FLEXBOX STICKY FOOTER */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

/* HEADER */

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color-bg);
  padding: 15px 8px 15px 8px;
}

#responsive-nav-items-container {
  display: flex;
  flex-direction: column;
}

#navigation-logo {
  color: white;
  font-family: var(--headline-font);
  font-size: 1.25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
}

.nav-active {
  font-weight: bold;
  box-shadow: var(--shadow);
  padding-top: 5px;
  padding-bottom: 5px;
  transform: rotate(-3deg);
  display: inline-block;
}

.navigation-item {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  font-family: var(--headline-font);
}

.responsive-nav-items {
  display: block;
  padding-top: 25px;
  padding-bottom: 5px;
}

.responsive-nav-items:hover {
  font-weight: bold;
  box-shadow: var(--shadow);
  transform: rotate(-3deg);
  display: block;
}

#nav-hamburger {
  display: block;
  align-self: start;
  width: 30px;
  right: 8px;
  top: 10px;
}

#nav-hamburger:hover {
  cursor: pointer;
}

.hamburger {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/* FOOTER */

.footer-container {
  background-color: var(--footer-color-bg);
  color: white;
  padding: 15px;
  text-align: center;
  font-family: var(--headline-font);
}

/* MAIN CONTENT */

/* Hero box at top of page */

.homepage-hero {
  background-color: #3b465e;
  height: 500px;
  position: relative;
  z-index: -3;
}

.hero-image-one-container {
  position: absolute;
  bottom: 15%;
  left: 2%;
  z-index: -1;
}

.hero-image-two-container {
  position: absolute;
  bottom: 0;
  right: 15%;
  z-index: -1;
}

.hero-image-three-container {
  position: absolute;
  bottom: 45%;
  right: 15%;
  z-index: -1;
}

.hero-image-one {
  width: 175px;
}

.hero-image-two {
  width: 250px;
}

.hero-image-three {
  width: 35px;
}

.hero-headline {
  font-family: var(--headline-font);
  font-weight: bold;
  color: white;
  font-size: 2.2rem;
  padding: 55px 0 0 35px;
}

.hero-text-center {
  padding-top: 5px;
}

.strike {
  text-decoration: line-through red solid;
}

.job-title {
  font-family: cursive;
  transform: rotate(-2deg);
  display: inline-block;
  font-weight: 100;
  font-size: 2.5rem;
  padding-left: 15px;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, 376px and up) */

@media (min-width: 400px) {}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .homepage-hero {
    height: 550px;
  }
  .hero-image-one-container {
    left: 10%;
  }
  .hero-image-two-container {
    right: 25%;
  }
  .hero-image-three-container {
    bottom: 50%;
  }
  .hero-image-one {
    width: 225px;
  }
  .hero-image-two {
    width: 275px;
  }
  .hero-headline {
    font-size: 2.25rem;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .navigation-item {
    display: inline-flex;
  }
  #nav-hamburger {
    display: none;
  }
  .navigation-item:hover {
    font-weight: bold;
    box-shadow: var(--shadow);
    padding-top: 5px;
    padding-bottom: 5px;
    transform: rotate(-3deg);
    display: inline-block;
  }
  .hero-image-one {
    width: 225px;
  }
  .hero-image-two {
    width: 325px;
  }
  .hero-image-three {
    width: 55px;
  }
  .hero-headline {
    font-size: 2.5rem;
  }
  .job-title {
    font-size: 2.75rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .homepage-hero {
    height: 600px;
  }
  .hero-image-one-container {
    left: 15%;
  }
  .hero-image-two-container {
    right: 20%;
  }
  .hero-image-three-container {
    bottom: 70%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .hero-headline {
    font-size: 3.5rem;
  }
  .job-title {
    font-size: 3.75rem;
  }
}

/* Extra large desktops (large desktops, 1500px and up) */

@media (min-width: 1500px) {
  .hero-image-two {
    width: 425px;
  }
}